@font-face {
    font-family: 'porlanefont';
    src: url('/fonts/porlane.woff') format('woff');
  }

.transition {
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14281F; /* Change color as needed */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 9999; /* Ensure it stays on top of other content */
    overflow: hidden;
    transition: height 1.2s ease;
    padding: 5rem;
}



.transition h1{
    font-size: 18rem;
    font-family: 'porlanefont';
    color: #E6F3ED;
    line-height: 12rem;
}

@media (max-width: 500px) {

    .transition {
        padding: 3rem;
    }

    .transition h1{
        font-size: 16rem;
        font-family: 'porlanefont';
        color: #FFFFFF;
        line-height: 10rem;
    }
}

@media (max-width: 400px) {

    .transition {
        padding: 2rem;
    }

    .transition h1{
        font-size: 14rem;
        font-family: 'porlanefont';
        color: #FFFFFF;
        line-height: 10rem;
    }
}

@media (max-width: 300px) {

    .transition {
        padding: 2rem;
    }

    .transition h1{
        font-size: 12rem;
        font-family: 'porlanefont';
        color: #FFFFFF;
        line-height: 10rem;
    }
}

@media (max-width: 250px) {

    .transition {
        padding: 2rem;
    }

    .transition h1{
        font-size: 10rem;
        font-family: 'porlanefont';
        color: #FFFFFF;
        line-height: 10rem;
    }
}
